body {
  background-color: #1fad6b;
}

table, th, td {
    border: 1px solid black;
    background-color: #6cebbe;
}

table {
    border-collapse: collapse;
}

.grid-design-ingredients {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  padding: 10px;
}

.grid-order-delivery-info {
  display: grid;
  grid-template-columns: 200px 500px 400px;
  padding: 10px;
}

.grid-registration-form {
  display: grid;
  grid-template-columns: 200px 500px; 400px;
  padding: 10px;
}

.button {
  background-color: #2edb5c;
  font-size: 14px;
}

.validationError {
    color: red;
}
