<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud - Ordering</title>
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" />
</head>
<body>
    <form method="POST" th:action="@{/orders}" th:object="${order}">
        <h1>Order your taco creations!</h1>
        <img th:src="@{/images/TacoCloud.png}" width="300"/>
        <p><a th:href="@{/design}" id="another">Design another taco</a></p>

        <div th:if="${#fields.hasErrors()}">
            <span class="validationError">
                Please correct the problems below and resubmit.
            </span>
        </div>

        <h3>Deliver my taco masterpieces to...</h3>

        <div class="grid-delivery-info">

            <label for="name">Name: </label>
            <input type="text" th:field="*{name}"/>
            <div><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validationError"></span></div>

            <label for="name">Street: </label>
            <input type="text" th:field="*{street}"/>
            <div><span th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="validationError"></span></div>

            <label for="city">City: </label>
            <input type="text" th:field="*{city}"/>
            <div><span th:if="${#fields.hasErrors('city')}" th:errors="*{city}" class="validationError"></span></div>

            <label for="state">State: </label>
            <input type="text" th:field="*{state}"/>
            <div><span th:if="${#fields.hasErrors('state')}" th:errors="*{state}" class="validationError"></span></div>

            <label for="zip">Zip code: </label>
            <input type="text" th:field="*{zip}"/>
            <div><span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}" class="validationError"></span></div>

            <label for="ccNumber">Credit card number: </label>
            <input type="text" th:field="*{ccNumber}"/>
            <div><span th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}" class="validationError"></span></div>

            <label for="ccExpiration">Credit card expiration date: </label>
            <input type="text" th:field="*{ccExpiration}"/>
            <div><span th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}" class="validationError"></span></div>

            <label for="ccCvv">CVV: </label>
            <input type="text" th:field="*{ccCvv}"/>
            <div><span th:if="${#fields.hasErrors('ccCvv')}" th:errors="*{ccCvv}" class="validationError"></span></div>

            <p><button class="button" type="submit">Submit order</button></p>
        </div>

    </form>

</body>
</html>